*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: tomato;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.article{
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 60%;
    flex-direction: center;

}

.nav{
    background-color: plum;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: start;
    align-items: center;
}

.aside{
    background-color: gray;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: end;
    align-items: center;
}
.footer{
        background-color: blueviolet;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
}

.container{
    display: flex;
    flex-grow: 1;
}